<app-header titulo="gerenciamento-cargo" [botaoRetorno]="true" [location]="location"></app-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-searchbar placeholder="Cargo" [debounce]="500" (ionInput)="filtarCargoNome($event)"></ion-searchbar>
  </ion-row>
  <div *ngFor="let cargo of listaCargos">
    <ion-item detail="true" button="true" color="light" (click)="navegarTelaCargo(cargo.idCargo)">
      <ion-col size="6">{{cargo.nome}}</ion-col>
    </ion-item>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="navegarTelaCargo(-1)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
