<ion-header class="c-header">
  <ion-toolbar class="c-header__toolbar">
    <ion-buttons *ngIf="botaoRetorno" slot="start">
      <ion-back-button
        class="c-header__button"
        icon="chevron-back"
        onclick="navController.back()"
        defaultHref="/app"></ion-back-button>
    </ion-buttons>
    <ion-title class="c-header__toolbar__title" [ngStyle]="{ 'padding-left': botaoRetorno ? '0px' : '' }">{{
      titulo
    }}</ion-title>
    <app-button
      *ngIf="botaoLogout"
      variant="icon"
      icon="log-out"
      class="u-margin-right--md"
      slot="end"
      (click)="onLogout()"></app-button>
  </ion-toolbar>
</ion-header>
