<h2>Lido por:</h2>
<ng-container *ngFor="let avisoResponsavel of retornarListaAvisoResponsavelPorIndVisualizacao(true)">
  <ion-item class="c-item"
    lines="none">
    <ion-text class="c-item-titulo">
      {{avisoResponsavel.responsavel.usuario.nome}}
    </ion-text>
  </ion-item>
</ng-container>
<hr>
<h2>Não lido por:</h2>
<ng-container *ngFor="let avisoResponsavel of retornarListaAvisoResponsavelPorIndVisualizacao(false)">
  <ion-item class="c-item"
    lines="none">
    <ion-text class="c-item-titulo">
      {{avisoResponsavel.responsavel.usuario.nome}}
    </ion-text>
  </ion-item>
</ng-container>
