<div
  *ngIf="avisoResponsavelVisualizado?.length > 0 || avisoResponsavelNaoVisualizado?.length > 0; else empty_state">
  <div *ngIf="avisoResponsavelVisualizado?.length > 0">
    <h2 class="t-text--lg">Lido por:</h2>
    <ng-container *ngFor="let avisoResponsavel of avisoResponsavelVisualizado">
      <ion-item class="c-item" lines="none">
        <ion-text class="c-item-titulo t-text--md">
          {{ avisoResponsavel.responsavel.usuario.nome }}
        </ion-text>
      </ion-item>
    </ng-container>
  </div>
</div>

<ng-template #empty_state>
  <h2 class="c-item-titulo t-text--lg">Este aviso ainda não foi visualizado.</h2>
</ng-template>
