<button
  class="c-btn"
  [class.c-btn--secondary]="variant === 'secondary'"
  [class.c-btn--tertiary]="variant === 'tertiary'"
  [class.c-btn--icon]="variant === 'icon'"
  [class.c-btn--icon-round]="variant === 'icon-round' || variant === 'icon-round-primary'"
  [class.c-btn--icon-round--primary]="variant === 'icon-round-primary'"
  [class.c-btn--icon-round--sm]="(variant === 'icon-round' || variant === 'icon-round-primary') && size === 'sm'"
  [class.c-btn--icon-round--md]="(variant === 'icon-round' || variant === 'icon-round-primary') && size === 'md'"
  [class.c-btn--icon-round--lg]="(variant === 'icon-round' || variant === 'icon-round-primary') && size === 'lg'"
  [class.c-btn--success]="variant === 'success'"
  [class.c-btn--danger]="variant === 'danger'"
  [class.c-btn--sm]="size === 'sm'"
  [class.c-btn--fit-content]="width === 'fit-content'"
  [class.c-btn--icon-right]="iconSlot === 'end'"
  [class.c-btn--no-padding]="padding === 'none'"
  [class.c-btn--sm-padding]="padding === 'sm'"
  [disabled]="disabled">
  <ion-spinner class="c-btn__loading" *ngIf="loading" name="crescent"></ion-spinner>
  <ion-icon
    class="c-btn__icon"
    [class.c-btn__icon--md]="iconSize === 'md'"
    [class.c-btn__icon--success]="variant === 'success'"
    *ngIf="icon && !loading"
    [name]="icon"
    [src]="icon"></ion-icon>

  <ng-content></ng-content>
</button>
