<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>gerenciamento-aluno-detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="salvar()">
    <ion-row size="12">
      <ion-col size="12" size-md="6" size-lg="6">
        <app-field-input formControlName="nome" label="Nome"></app-field-input>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="6">
        <app-field-input formControlName="cgm" label="CGM"></app-field-input>
      </ion-col>
    </ion-row>
    <hr>
    <!-- INICIO SOBRE RESPONSAVEL -->
    <ion-row>
      <ion-row size="auto" style="width: 100%;">
        <ion-col size="7" sizeLg="4" sizeMd="4">
          <h3 style="margin-left: 5px; font-weight: bold;">Responsáveis:</h3>
        </ion-col>
        <!-- INICIO INSERCAO RESPONSAVEIS -->
        <ion-col *ngIf="!isModoDetalhes()" offsetLg="2" offsetMd="2" size="12" sizeLg="6" sizeMd="6">
          <form [formGroup]="formBuscaResponsavel">
            <app-autocomplete-v2  formControlName="buscaResponsavel" idBusca="busca-responsavel"  [listaItens]="nomeResponsaveisBusca" 
            (onBusca)="adicionarResponsavel($event)" textoSemResultado="Cadastrar novo responsavel" 
            icone="add" (onCliqueIcone)="navegarTelaResponsavel(-1)"></app-autocomplete-v2>
          </form>
        </ion-col>
        <!-- FIM INSERCAO RESPONSAVEIS -->
      </ion-row>
      <!-- INICIO TABELA DE RESPONSAVEIS -->
      <table mat-table [dataSource]="listaResponsaveisTabela" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let responsavel">{{responsavel.nome}}</td>
        </ng-container>
        <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef>Telefone</th>
          <td mat-cell *matCellDef="let responsavel">{{responsavel.telefone}}</td>
        </ng-container>
        <ng-container matColumnDef="acao">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
          <td mat-cell *matCellDef="let responsavel">
            <div style="text-align: -webkit-right;">
              <ion-fab-button *ngIf="isModoDetalhes()" color="secondary" size="small" style="box-shadow: none;">
                <ion-icon name="information"></ion-icon>
              </ion-fab-button>
              <ion-fab-button *ngIf="!isModoDetalhes()" color="danger" size="small" style="box-shadow: none;">
                <ion-icon name="trash"></ion-icon>
              </ion-fab-button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="colunasResponsavel"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasResponsavel;"></tr>
      </table>
      <!-- FIM TABELA DE RESPONSAVEIS -->
    </ion-row>
    <!-- FIM SOBRE RESPONSAVEL -->
    <!-- INICIO BUSCA TURMA -->
    <!-- AINDA NAO ESTA FUNCIONANDO ADEQUADAMENTE -->
    <!-- <h3 style="margin-left: 5px; font-weight: bold;">Turma:</h3>
    <ion-row size="auto" style="width: 100%;">
      <ion-col size="12">
        <form [formGroup]="formBuscaTurma">
          <app-autocomplete-v2  formControlName="buscaTurma" idBusca="busca-turma"  [listaItens]="nomeTurmasBusca" 
          (onBusca)="adicionarTurma($event)" textoSemResultado="Cadastrar novo turma" 
          icone="add" (onCliqueIcone)="navegarTelaTurma(-1)" (onSelecionado)="alterarExpansao('1000px')"
          (onDesselecionado)="alterarExpansao('0px')"></app-autocomplete-v2>
        </form>
      </ion-col>
    </ion-row> -->
    <!-- FIM BUSCA TURMA -->
    <ng-container id="botoesEditar" *ngIf="!isModoDetalhes()">
      <ion-row style="flex-direction: row-reverse;">
        <ion-col size="auto">
          <ion-button shape="round" type="submit" (click)="salvar()">Salvar</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button shape="round" fill="outline" color="danger" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
  </form>
  <!-- BOTOES DE CONTROLE -->
  <ng-container *ngIf="isModoDetalhes()">
    <app-botoes-controle (onEditar)="iniciarEdicao()" (onActionSheet)="eventoActions($event)" 
      header="Deseja deletar {{aluno.nome}}?"></app-botoes-controle>  
  </ng-container>
  <div [ngStyle]="{'height': expansao}"></div>
  
</ion-content>
