<app-header titulo="Bem vindo, {{primeiroNome}}."></app-header>

<ion-content class="ion-padding">
  <h3>Canais de Comunicação</h3>

  <ng-container *ngFor="let canal of canais">
    <ion-item *ngIf="verificarAcesso(canal)" detail="true" button="true" (click)="navegarParaCanal(canal.idCanal)">
      <ion-label>
        <ion-row><ion-text>{{canal.nome}}</ion-text></ion-row>
        <ion-row><ion-text>{{resgatarUltimaMensagem(canal.idCanal)}}</ion-text></ion-row>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>
