<app-header titulo="Olá, {{ primeiroNome }}."></app-header>

<ion-content class="ion-padding">
  <div class="u-padding-bottom--3xl">
    <h5 class="u-font-weight--bold">Canais de Comunicação</h5>
    <ng-container *ngFor="let canal of canais">
      <ion-item
        class="c-item"
        *ngIf="verificarAcesso(canal)"
        lines="none"
        detail="true"
        button="true"
        (click)="navegarParaCanal(canal.canal_id)">
        <ion-label>
          <ion-row><ion-text class="c-item-titulo">{{canal.nome}}</ion-text></ion-row>
          <ion-row><ion-text class="c-item-subtitulo" color="medium">{{resgatarUltimaMensagem(canal.canal_id)}}</ion-text></ion-row>
        </ion-label>
      </ion-item>
    </ng-container>
  </div>
</ion-content>
