<div class="c-field">
  <span
    *ngIf="label"
    class="c-field__label"
    [class.c-field__label--error]="ngControl.errors && ngControl.touched"
    [class.c-field__label--disabled]="ngControl.control?.disabled">
    {{ label }}
  </span>
  <div class="u-position--relative">
    <ion-input
      #ionInput
      class="c-field__input"
      labelPlacement="stacked"
      [type]="showPassword ? 'text' : 'password'"
      [placeholder]="placeholder || ('FIELDS.PASSWORD.PLACEHOLDER' | translate)"
      [formControl]="ngControl.control"
      [required]="required"
      [helperText]="helperText"
      (keydown)="onKeyDown($event)">
    </ion-input>

    <ion-icon
      class="c-field__input-icon c-field__input-icon--right u-cursor--clickable"
      [class.u-color--font-tertiary]="ionInput?.value === ''"
      [name]="showPassword ? 'eye-off' : 'eye'"
      [title]="
        (showPassword ? 'FIELDS.PASSWORD.HIDE_PASSWORD_VISIBILITY' : 'FIELDS.PASSWORD.SHOW_PASSWORD_VISIBILITY')
          | translate
      "
      (click)="togglePasswordVisibility()"></ion-icon>
  </div>

  <app-field-error-message [visible]="showValidationErrorMessage" [currentControl]="ngControl.control">
  </app-field-error-message>
</div>
