<app-header titulo="Turma" [botaoRetorno]="true"></app-header>

<ion-content class="ion-padding">
  <ion-searchbar class="ion-no-padding" 
    placeholder="Turma" [debounce]="500" (ionInput)="filtarTurmaNome($event)"></ion-searchbar>
  <div *ngFor="let turma of listaTurmas">
    <ion-item class="c-item"
      lines="none" detail="true" button="true" (click)="navegarTelaTurma(turma.turma_id)">
      <ion-label>
        <ion-row>
          <ion-text class="c-item-titulo">{{turma.nome}}</ion-text>
        </ion-row>
      </ion-label>
    </ion-item>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="navegarTelaTurma(-1)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
