<div class="c-modal-backdrop"></div>
<div class="c-modal e-novo-aviso">
  <form [formGroup]="form">
    <ion-row size="12">
      <ion-col size="12">
        <app-field-input showValidationErrorMessage="false" formControlName="titulo" label="Titulo"></app-field-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" sizeLg="6" sizeMd="6">
        <app-autocomplete
          formControlName="prioridade"
          idBusca="busca-prioridade"
          [listaItens]="nomePrioridadesBusca"
          (onBusca)="selecionarPrioridade($event)"
          label="Prioridade"></app-autocomplete>
      </ion-col>
      <ion-col size="12" sizeLg="6" sizeMd="6">
        <app-autocomplete
          formControlName="canal"
          idBusca="busca-canal"
          [listaItens]="nomeCanaisBusca"
          (onBusca)="selecionarCanal($event)"
          label="Canal para dúvidas"
          textoSemResultado="Canal não encontrado"></app-autocomplete>
      </ion-col>
    </ion-row>
    <!-- TURMA -->
    <!-- TABELA TURMA -->
    <ion-row>
      <ion-col size="12">
        <h4 class="u-font-weight--bold ion-no-margin">Turmas para envio:</h4>
        <ng-container *ngIf="listaTurmasTabela.length > 0">
          <ng-container *ngFor="let turma of listaTurmasTabela">
            <ion-item class="c-item c-item-round" lines="none">
              <ion-label>
                <ion-row class="ion-align-items-center">
                  <ion-col class="ion-align-items-center" size="9" sizeLg="10" sizeMd="10">
                    <ion-row>
                      <ion-text class="c-item-titulo ion-text-wrap">{{ turma.nome }}</ion-text>
                    </ion-row>
                  </ion-col>
                  <ion-col size="3" sizeLg="2" sizeMd="2" style="text-align: -webkit-right">
                    <ion-fab-button color="danger" size="small" (click)="deletarTurma(turma.turma_id)">
                      <ion-icon name="trash"></ion-icon>
                    </ion-fab-button>
                  </ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
    <!-- BUSCA TURMA -->
    <ion-row>
      <ion-col size="12">
        <app-autocomplete
          placeholder="Insira a turma"
          formControlName="turmaBusca"
          idBusca="busca-turma"
          [listaItens]="nomeTurmasBusca"
          (onBusca)="adicionarTurma($event)"
          textoSemResultado="Turma não encontrada"
          icone="add"></app-autocomplete>
      </ion-col>
    </ion-row>
    <!-- BUSCA TURMA -->
    <!-- TABELA TURMA -->
    <!-- TURMA -->
    <ion-row size="12">
      <ion-col size="12">
        <app-field-input textArea="true" formControlName="texto" label="Texto" rowsTextArea="14"></app-field-input>
      </ion-col>
    </ion-row>
    <ion-row class="u-flex-justify--center">
      <ion-col size="12">
        <app-field-datetime placeholder="Lembrete" type="date" formControlName="dataLembrete"></app-field-datetime>
      </ion-col>
    </ion-row>

    <div class="u-padding-bottom--md">
      <ng-container id="botoesEditar">
        <app-botoes-controle
          modoBotoes="salvar"
          (onSalvar)="salvar()"
          (onCancelar)="cancelar()"></app-botoes-controle>
      </ng-container>
    </div>
  </form>
</div>
