<app-header titulo="Avisos" botaoLogout="true"></app-header>

<ion-content class="ion-padding">
  <app-refresher (onRecarregar)="recarregarPagina()"></app-refresher>
  <div class="u-padding-bottom--3xl">
    <div class="u-padding-bottom--md">
      <ng-container *ngFor="let aviso of avisos">
        <ng-container *ngIf="isVisivel(aviso)">
          <app-aviso-item [aviso]="aviso" (onSelecionado)="abrirModalAviso($event)"></app-aviso-item>
        </ng-container>
      </ng-container>
    </div>
    <ion-row class="ion-justify-content-center" *ngIf="hasAcessoGerenciamentoAviso()">
      <app-button padding="sm" size="md" (click)="abrirModalNovoAviso()">Novo Aviso</app-button>
    </ion-row>
  </div>
</ion-content>
