<app-header titulo="gerenciamento-turma-detalhes" [botaoRetorno]="true"></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="salvar()">
    <ion-row size="12">
      <ion-col size="12">
        <app-field-input formControlName="nome" label="Nome"></app-field-input>
      </ion-col>
    </ion-row>
    <hr>
    <!-- INICIO SOBRE ALUNO -->
    <ion-row>
      <ion-row size="auto" style="width: 100%;">
        <ion-col size="7" sizeLg="4" sizeMd="4">
          <h3 style="margin-left: 5px; font-weight: bold;">Alunos:</h3>
        </ion-col>
        <!-- INICIO INSERCAO ALUNOS -->
        <ion-col *ngIf="!isModoDetalhes()" offsetLg="2" offsetMd="2" size="12" sizeLg="6" sizeMd="6">
          <form [formGroup]="formBuscaAluno">
            <app-autocomplete-v2 formControlName="buscaAluno" idBusca="busca-aluno" [listaItens]="nomeAlunosBusca" (onBusca)="adicionarAluno($event)" 
              textoSemResultado="Cadastrar novo aluno" icone="add" (onCliqueIcone)="navegarTelaAluno(-1)"></app-autocomplete-v2>
          </form>
        </ion-col>
        <!-- FIM INSERCAO ALUNOS -->
      </ion-row>
      <!-- INICIO TABELA DE ALUNOS -->
      <ion-row size="auto" style="width: 100%;">
        <table style="margin-left: 5px; margin-right: 5px;">
          <tr>
            <th>Aluno</th>
            <th>CGM</th>
            <th></th>
          </tr>
          <ng-container *ngIf="listaAlunosTabela.length > 0; then comAluno; else semAluno"></ng-container>
          <ng-template #comAluno>
            <tr *ngFor="let aluno of listaAlunosTabela">
              <td style="width: 45%;">{{aluno.nome}}</td>
              <td style="width: 45%;">{{aluno.cgm}}</td>
              <td style="width: 10%;">
                <div style="text-align: -webkit-right;">
                  <ion-fab-button *ngIf="isModoDetalhes()" color="secondary" size="small" 
                    (click)="navegarTelaAluno(aluno.idAluno)">
                    <ion-icon name="information"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button *ngIf="!isModoDetalhes()" color="danger" size="small" 
                    (click)="deletarAluno(aluno.idAluno)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-fab-button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #semAluno>
            <tr>
              <td colspan="100%" style="text-align: center; font-weight: bold;">Selecione um Aluno</td>
            </tr>
          </ng-template>
          
        </table>
      </ion-row>
      <!-- FIM TABELA DE ALUNOS -->
    </ion-row>
    <!-- FIM SOBRE ALUNO -->
    <ng-container id="botoesEditar" *ngIf="!isModoDetalhes()">
      <ion-row style="flex-direction: row-reverse;">
        <ion-col size="auto">
          <ion-button shape="round" type="submit">Salvar</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button shape="round" fill="outline" color="danger" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
      <div style="height: 100px"></div>
    </ng-container>
  </form>
  <!-- BOTOES DE CONTROLE -->
  <ng-container *ngIf="isModoDetalhes()">
    <app-botoes-controle (onEditar)="iniciarEdicao()" (onDeletar)="deletarAction()" 
      header="Deseja deletar {{turma.nome}}?"></app-botoes-controle>  
  </ng-container>
</ion-content>