.e-mensagem-item {
  --background: transparent;
  --padding-start: 8px;
  --padding-end: 0px;
  --ion-safe-area-left: 0px;
  --min-height: 32px;
  --border-width: 0;
  .e-mensagem-label {
    position: relative;
    border-radius: 12px;
    padding: 4px 8px;
    margin-top: 12px;
    max-width: 70%;
    .e-mensagem-text {
      font-weight: 400;
      font-size: 0.9rem;
      &:after {
        content: '';
        width: 52px;
        height: 12px;
        display: inline-block;
        vertical-align: top;
        visibility: hidden;
        font-size: 0.75rem;
      }
    }
    .e-mensagem-horario {
      position: absolute;
      display: flex;
      right: 0;
      bottom: 0;
      padding: 4px 8px 4px 4px;
      line-height: 16px;
      pointer-events: auto;
      color: var(--ion-color-medium);

      ion-icon {
        // font-weight: bold;
        .e-mensagem-visualizada {
          color: var(--ion-color-secondary-tint);
        }
        .e-mensagem-naovisualizada {
          color: var(--color-gray-500);
        }
      }
    }
  }
}

.e-recebido {
  .e-mensagem-label {
    margin-left: 8px;
    background-color: var(--ion-color-light);
    .e-mensagem-text {
      &:after {
        width: 100px !important;
      }
    }
    .e-mensagem-horario {
      small {
        margin-right: 2px;
        line-height: 16px;
      }

      ion-icon {
        font-size: 16px;
      }
    }
  }
}

.e-enviado {
  .e-mensagem-label {
    background-color: var(--ion-color-tertiary);
    .e-mensagem-text {
      &:after {
        width: 100px !important;
      }
    }
    .e-mensagem-horario {
      small {
        margin-right: 2px;
        line-height: 16px;
        color: var(--ion-color-dark);
      }

      ion-icon {
        font-size: 16px;
      }
    }
  }
}
