<div class="c-field__input-wrapper">
  <ion-input #barraBusca [(ngModel)]="busca" 
    id="{{idBusca}}" class="c-field__input" type="search" 
    debounce="100" (ionInput)="getItens($event)" 
    (ionFocus)="mudarVisualizacaoItens()" (ionBlur)="mudarVisualizacaoItens()" 
    (keyup.enter)="selecionaPrimeiro()"></ion-input>

    <ion-icon class="c-field__icon u-cursor--clickable"
    [name]="icone === null ? '' : icone"
    (click)="indicaBotaoClicado()"></ion-icon>
</div>
<ion-popover size="cover" trigger="{{idBusca}}" 
  showBackdrop="false" keyboardClose="false" dismissOnSelect="true">
  <ion-list *ngIf="isItensVisiveis">
    <ng-container *ngIf="itens.length > 0; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
      <ion-item *ngFor="let item of itens; index as i; first as isPrimeiro" 
        [class.opcao__selecionada]="isPrimeiro" class="opcao"
        button="true" id="{{item}}"
        (click)="selecionarItem(item)">{{ item }}</ion-item>
    </ng-template>
    <ng-template #elseTemplate>
      <!-- opcao quando sem resultado na busca -->
      <ion-item class="opcao__selecionada" 
      button="true"
      (click)="selecionarItem(-1)">{{textoSemResultado}}</ion-item>
    </ng-template>
  </ion-list>
</ion-popover>

<style>
  .opcao__selecionada {
    --background: var(--color-gray-400);
  }
  .opcao:hover {
    --background: var(--color-gray-400);
  }
</style>
