<app-header titulo="Gerenciamento" botaoLogout="true"></app-header>

<ion-content class="ion-padding">
  <div class="u-padding-bottom--3xl">
    <ng-container *ngFor="let opcao of opcoesGerenciamento">
      <ion-item
        class="c-item__medium"
        *ngIf="possuiAcessoFuncionalidade(opcao.idFuncionalidade)"
        lines="none"
        detail="true"
        button="true"
        (click)="navegarParaGerenciamento(opcao)">
        <ion-text class="c-item-titulo"> {{opcao.nomeOpcao}} </ion-text>
      </ion-item>
    </ng-container>
  </div>
</ion-content>
