<ion-header>
  <ion-toolbar>
    <ion-title>GERENCIAMENTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item detail="true" button="true" (click)="navegarPara('responsavel')">
    <ion-label>Responsavel</ion-label>
  </ion-item>
  
  <ion-item detail="true" button="true" (click)="navegarPara('aluno')">
    <ion-label>Aluno</ion-label>
  </ion-item>
  
  <ion-item detail="true" button="true" (click)="navegarPara('turma')">
    <ion-label>Turma</ion-label>
  </ion-item>
  
  <ion-item detail="true" button="true" (click)="navegarPara('funcionario')">
    <ion-label>Funcionario</ion-label>
  </ion-item>
  
  <ion-item detail="true" button="true" (click)="navegarPara('cargo')">
    <ion-label>Cargo</ion-label>
  </ion-item>

</ion-content>
