<ion-header>
  <ion-toolbar>
    <ion-title>GERENCIAMENTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item detail="true" button="true" (click)="redirecionaPara('responsavel')">
    <ion-label>Responsavel</ion-label>
  </ion-item>
  
  <ion-item detail="true" button="true" (click)="redirecionaPara('aluno')">
    <ion-label>Aluno</ion-label>
  </ion-item>
  
  <ion-item detail="true" button="true" (click)="redirecionaPara('turma')">
    <ion-label>Turma</ion-label>
  </ion-item>
  
  <ion-item detail="true" button="true" (click)="redirecionaPara('funcionario')">
    <ion-label>Funcionario</ion-label>
  </ion-item>
  
  <ion-item detail="true" button="true" (click)="redirecionaPara('cargo')">
    <ion-label>Cargo</ion-label>
  </ion-item>

</ion-content>
