.e-envio-mensagem {
  padding: 0 0.5rem;
  height: fit-content;
  ion-textarea {
    border: 1px solid var(--ion-color-medium);
    border-radius: 1rem;
    margin: 5px 0px 5px 5px;
    padding-left: 10px;
  }
}
