<ion-toolbar class="c-envio-mensagem" color="light">
  <ion-textarea #campoTexto
    autoGrow 
    rows="1" 
    placeholder="Send message" 
    class="ion-text-center">
  </ion-textarea>
  <ion-buttons slot="end">
    <ion-fab-button size="small" color="primary" (click)="enviarMensagem()">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
    <!-- <ion-fab-button *ngIf="isLoading" size="small" color="primary">
      <ion-spinner name="crescent" color="white"></ion-spinner>
    </ion-fab-button> -->
  </ion-buttons>
</ion-toolbar>
