@import '../sizing.scss';
@import '../variables.scss';

.c-btn {
  --button-background: var(--color-primary);
  --button-color: white;
  --icon-color: var(--button-color);

  padding: 0 $size-3xl;
  height: 3 * $size-base;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: $size-2xs;

  background: var(--button-background);
  appearance: none;
  border: 0;
  border-radius: $size-xs;

  @extend .t-text--md;
  font-weight: 500;
  color: var(--button-color);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:active {
    --button-background: var(--color-secondary);
  }

  &:disabled {
    pointer-events: none;
    --button-background: var(--color-gray-30);
  }

  &--secondary,
  &--tertiary {
    --button-background: none;
    --button-color: var(--color-primary);

    &:hover,
    &:active {
      --button-background: none;
      --button-color: var(--color-secondary);
    }

    &:disabled {
      --button-background: none;
      --button-color: var(--color-gray-30);
    }
  }

  &--secondary {
    border: 1px solid var(--button-color);
  }

  &--success {
    font-weight: 400;
    --button-color: var(--color-green-1);
    --button-background: var(--color-green-3);

    &:hover,
    &:active {
      --button-background: var(--color-green-3);
    }

    &:disabled {
      --button-background: var(--color-green-3);
    }
  }

  &--danger {
    font-weight: 500;
    --button-color: var(--color-white);
    --button-background: var(--color-red-2);

    &:hover,
    &:active {
      --button-background: var(--color-red-1);
    }

    &:disabled {
      --button-background: var(--color-gray-30);
    }
  }

  &--icon {
    --button-color: var(--color-primary);
    --button-background: var(--color-blue-background);
    padding: 0;
    height: 2 * $size-base !important;
    width: 2 * $size-base !important;
    border: 1px solid var(--color-tertiary);

    &:hover,
    &:active {
      --button-background: var(--color-purple-background);
    }

    &:disabled {
      pointer-events: none;
      --button-background: var(--color-gray-30);
    }
  }

  &--icon-round {
    --button-background: none;
    --button-color: var(--color-primary);
    padding: 0;
    border: 1px solid var(--color-primary);
    border-radius: 50%;

    &:hover,
    &:active {
      --button-background: var(--color-purple-background);
    }

    &:disabled {
      --button-background: none;
      --icon-color: var(--color-gray-30);
      pointer-events: none;
      border: 1px solid var(--color-gray-30);
    }

    &--sm {
      height: 2 * $size-base !important;
      width: 2 * $size-base !important;
    }

    &--md {
      height: 2.5 * $size-base !important;
      width: 2.5 * $size-base !important;
    }

    &--lg {
      height: 3 * $size-base !important;
      width: 3 * $size-base !important;
    }

    &--primary {
      --button-background: var(--color-primary);
      --button-color: white;

      &:hover,
      &:active {
        --button-background: var(--color-secondary);
        --button-color: var(--color-white);
      }

      &:disabled {
        --button-background: var(--color-gray-30);
        --icon-color: var(--color-white);
        pointer-events: none;
        border: none;
      }
    }
  }

  &--sm {
    height: 2.5 * $size-base;
  }

  &--fit-content {
    width: fit-content;
  }

  &--icon-right {
    flex-direction: row-reverse;
  }

  &__icon {
    font-size: 1.15em;
    color: var(--icon-color);

    &--md {
      font-size: 1.5em;
    }

    &--success {
      --icon-color: var(--color-green-2);
    }
  }

  &__loading {
    height: 1.15em;
    width: 1.15em;
    flex-shrink: 0;
    color: var(--color-white);
  }
}
