@import '../sizing.scss';
@import '../variables.scss';

.c-link {
  color: var(--ion-color-primary);
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &--clear {
    text-decoration: none;
  }

  ion-icon {
    margin-left: $size-xs;
  }
}
