<app-header titulo="{{canal.nome}}" botaoRetorno="true"></app-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-searchbar class="ion-no-padding" placeholder="Procurar" [debounce]="500" (ionInput)="filtrarCanalResponsavel($event)"></ion-searchbar>
  </ion-row>
  <ng-container *ngFor="let canal of listaCanalResponsavel">
    <ion-item class="c-item"
      lines="none" detail="true" button="true" (click)="navegarParaCanalResponsavel(canal.idResponsavel)">
      <ion-label>
        <ion-row class="c-item-titulo" size="12">
          <ion-text>{{canal.nomeResponsavel}}</ion-text>
        </ion-row>
        <ion-row class="c-item-subtitulo" size="12">
          <ion-text><b>Aluno:</b> {{canal.nomeAluno}}</ion-text>
        </ion-row>
        <ion-row class="c-item-subtitulo" size="12">
          <ion-text color="medium" >{{resgatarUltimaMensagem(canal.idResponsavel)}}</ion-text>
        </ion-row>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>
