<div class="ion-align-items-center" ion-content>
  <div class="c-field__input-wrapper">

    <ion-input id="{{idBusca}}" class="c-field__input" type="text" [placeholder]="placeholder"
      [class.c-field__input--disabled]="isDisabled"
      [class.c-field__input--has-icon]="icon" [formControl]="ngControl.control"
      debounce="100" (ionInput)="getItens($event)"
      (ionFocus)="mostrarItens()" (ionBlur)="esconderItens()" 
      (keyup.enter)="selecionarPrimeiro($event.target.value)">
    </ion-input>

    <ion-icon *ngIf="icone" [name]="icone" class="c-field__icon" (click)="indicaBotaoClicado()"></ion-icon>
  </div>
  <ion-popover #popover size="cover" trigger="{{idBusca}}"
    showBackdrop="false" keyboardClose="false"
    style="height: 180px;">
    <ion-list *ngIf="isItensVisiveis">
      <ng-container *ngIf="itens.length > 0; then thenTemplate; else elseTemplate"></ng-container>
      <ng-template #thenTemplate>
        <ion-item *ngFor="let item of itens; index as i; first as isPrimeiro" 
          lines="full" button="true" id="{{item}}"
          (click)="selecionarItem(item)">{{ item }}</ion-item>
      </ng-template>
      <ng-template #elseTemplate>
        <!-- opcao quando sem resultado na busca -->
        <ion-item
        lines="full" button="true"
        (click)="selecionarItem(-1)">{{textoSemResultado}}</ion-item>
      </ng-template>
    </ion-list>
  </ion-popover>
</div>
