<div class="c-field">
  <span
    *ngIf="label"
    class="c-field__label"
    [class.c-field__label--error]="ngControl.errors && ngControl.touched"
    [class.c-field__label--disabled]="ngControl.control?.disabled">
    {{ label }}
  </span>
  <ion-input
    #ionInput
    class="c-field__input"
    [class.c-field__input--has-icon]="icon"
    [class.c-field__input--no-label]="!label"
    [type]="type"
    [placeholder]="placeholder"
    labelPlacement="stacked"
    [helperText]="helperText"
    [required]="required"
    [formControl]="ngControl.control"
    (ionChange)="setValue($event)"
    (keydown)="onKeyDown($event)"
    maxlength="100">
    <ion-icon *ngIf="icon" [name]="icon" class="c-field__input-icon"></ion-icon>
    <ion-icon
      *ngIf="showValidationErrorMessage && ngControl.touched && ngControl.invalid"
      name="warning"
      class="c-field__input-icon c-field__input-icon--error"></ion-icon>
  </ion-input>

  <app-field-error-message [visible]="showValidationErrorMessage" [currentControl]="ngControl.control">
  </app-field-error-message>
</div>
