<div class="c-modal-backdrop"></div>
<div class="c-modal">
  <form [formGroup]="form">
    <app-aviso-modal-titulo formControlName="titulo" [isCadastrar]="isModoCadastrar()"></app-aviso-modal-titulo>
    <hr>
    <ion-row>
      <ion-label>
        <app-aviso-modal-texto formControlName="texto" [isCadastrar]="isModoCadastrar()"></app-aviso-modal-texto>
      </ion-label>
    </ion-row>
    <hr>
    <ion-row>
      <ng-container *ngIf="isModoDetalhes(); then modoDetalhes; else modoEdicao"></ng-container>
      <ng-template #modoDetalhes>
        <ion-row style="flex-direction: row-reverse;">
          <ion-col size="auto">
            <ion-button shape="round" type="submit" (click)="iniciarEdicao()">Editar</ion-button>
          </ion-col>
        </ion-row>
      </ng-template>
      <ng-template #modoEdicao>
        <ion-row style="flex-direction: row-reverse;">
          <ion-col size="auto">
            <ion-button shape="round" type="submit" (click)="salvarAviso()">Salvar</ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button shape="round" fill="outline" color="danger" (click)="cancelar()">Cancelar</ion-button>
          </ion-col>
        </ion-row>
      </ng-template>
    </ion-row>
  </form>
</div>
