<div class="c-modal-backdrop"></div>
<div class="c-modal e-aviso-modal">
  <div>
    <ion-row *ngIf="hasAcessoGerenciamentoAviso" class="ion-justify-content-end">
      <app-button icon="eye" padding="sm" (click)="alterarModoVisualizacao()">{{
        isModoVisualizacao ? 'Voltar' : 'Detalhes'
      }}</app-button>
    </ion-row>
    <hr />
    <ng-container *ngIf="isModoVisualizacao">
      <app-aviso-indicador-visualizacao
        [listaAvisoResponsavel]="listaAvisoResponsavel"></app-aviso-indicador-visualizacao>
    </ng-container>

    <ng-container *ngIf="!isModoVisualizacao">
      <form [formGroup]="form">
        <app-aviso-modal-titulo formControlName="titulo" [isEditar]="!isModoDetalhes()"></app-aviso-modal-titulo>
        <hr />
        <ion-row>
          <ion-label>
            <app-aviso-modal-texto formControlName="texto" [isEditar]="!isModoDetalhes()"></app-aviso-modal-texto>
          </ion-label>
        </ion-row>
        <hr />
      </form>
    </ng-container>
  </div>

  <div>
    <ng-container *ngIf="isModoVisualizacao">
      <ion-row *ngIf="isResponsavel" class="u-flex-justify--end u-padding-bottom--md">
        <app-button padding="sm" size="md" (click)="navegarCanal()">Tire suas Dúvidas</app-button>
        <!-- <ion-button shape="round" class="ion-align-items-center u-font-weight--bold" (click)="navegarCanal()">
          Tire suas Dúvidas <ion-icon name="chevron-forward-outline"></ion-icon
        ></ion-button> -->
      </ion-row>
    </ng-container>
    <ng-container *ngIf="!isModoVisualizacao">
      <ng-container *ngIf="!isModoDetalhes() && hasAcessoGerenciamentoAviso">
        <app-botoes-controle
          modoBotoes="salvar"
          (onSalvar)="salvarAviso()"
          (onCancelar)="cancelar()"></app-botoes-controle>
      </ng-container>
      <ng-container *ngIf="isModoDetalhes() && hasAcessoGerenciamentoAviso">
        <app-botoes-controle
          (onEditar)="iniciarEdicao()"
          (onDeletar)="deletar()"
          header="Deseja deletar {{ aviso.titulo }}?"></app-botoes-controle>
      </ng-container>
    </ng-container>
  </div>
</div>
