@import '../../../../../theme/sizing.scss';
@import '../../../../../theme/variables.scss';

.e-login-page {
  &__logo {
    padding-top: 10vh;

    &__image {
      height: 13rem;
      width: 13rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__container {
    position: relative;
    background-color: var(--color-background);
    padding: 2rem;
  }

  &__card {
    position: relative;
    margin-bottom: $size-md;
    z-index: 2;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.25 * $size-base;
  }

  &__button {
    margin-top: $size-lg;
    padding-bottom: 15vh;
  }
}
