<ion-content class="e-login" [scrollY]="false" [fullscreen]="true">
  <app-header titulo="LOGIN"></app-header>

  <main
    class="u-display--flex u-flex-direction--column u-flex-align--center u-flex-justify--space-around e-login-page">
    <form [formGroup]="form" class="e-login-page__form">
      <app-login-field-input
        formControlName="cpf"
        label="Usuário (CPF)"
        placeholder="000.000.000-00"></app-login-field-input>
      <div class="u-margin-top--xl">
        <app-login-field-password
          #password
          formControlName="password"
          placeholder="Senha"></app-login-field-password>
      </div>
    </form>

    <app-button class="" (click)="submit()"> Entrar </app-button>
  </main>
</ion-content>
