<div class="c-menu-container" [class.c-menu-container--hidden]="!visible">
  <div *ngIf="userIsFuncionario; else two_tabs">
    <div class="c-menu" [class.c-menu--hidden]="!visible">
      <div
        class="c-menu__active"
        [class.c-menu__active--left]="activeArea === 'aviso'"
        [class.c-menu__active--middle]="activeArea === 'mensagem'"
        [class.c-menu__active--right]="activeArea === 'gerenciamento'"></div>

      <span class="c-menu__container" (click)="handleAreaSelected('aviso')">
        <ion-icon
          class="c-menu__area"
          name="notifications"
          [class.c-menu__area--active]="activeArea === 'aviso'"></ion-icon>
      </span>

      <span class="c-menu__container" (click)="handleAreaSelected('mensagem')">
        <ion-icon
          class="c-menu__area"
          name="chatbubbles"
          [class.c-menu__area--active]="activeArea === 'mensagem'"></ion-icon>
      </span>

      <span class="c-menu__container" (click)="handleAreaSelected('gerenciamento')">
        <ion-icon
          class="c-menu__area"
          name="settings"
          [class.c-menu__area--active]="activeArea === 'gerenciamento'"></ion-icon>
      </span>
    </div>
  </div>

  <ng-template #two_tabs>
    <div class="c-menu-two-tabs" [class.c-menu--hidden]="!visible">
      <div
        class="c-menu-two-tabs__active"
        [class.c-menu-two-tabs__active--left]="activeArea === 'mensagem'"
        [class.c-menu-two-tabs__active--right]="activeArea === 'aviso'"></div>

      <span class="c-menu-two-tabs__container" (click)="handleAreaSelected('mensagem')">
        <ion-icon
          class="c-menu-two-tabs__area"
          name="chatbubbles"
          [class.c-menu-two-tabs__area--active]="activeArea === 'mensagem'"></ion-icon>
      </span>

      <span class="c-menu-two-tabs__container" (click)="handleAreaSelected('aviso')">
        <ion-icon
          class="c-menu-two-tabs__area"
          name="notifications"
          [class.c-menu-two-tabs__area--active]="activeArea === 'aviso'"></ion-icon>
      </span>
    </div>
  </ng-template>
</div>
