<app-header
  [titulo]="isModoCadastrar() ? 'Novo Responsável' : responsavel.usuario.nome"
  [botaoRetorno]="true"></app-header>

<ion-content class="ion-padding">
  <app-refresher (onRecarregar)="recarregarPagina()"></app-refresher>
  <div class="u-display--flex u-flex-direction--column u-flex-justify--space-between u-height--100">
    <div>
      <form [formGroup]="form" (ngSubmit)="salvar()">
        <ion-row size="12">
          <ion-col size="12" size-md="6" size-lg="6">
            <app-field-input formControlName="nome" label="Nome"></app-field-input>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="6">
            <app-field-input formControlName="telefone" label="Telefone"></app-field-input>
          </ion-col>
        </ion-row>
        <hr />
        <!-- INICIO SOBRE ALUNO -->
        <ion-row>
          <ion-row class="ion-align-items-center" size="auto">
            <ion-col size="12" sizeLg="4" sizeMd="4">
              <h3 class="u-font-weight--bold ion-no-margin">Responsável por:</h3>
            </ion-col>
          </ion-row>
          <!-- INICIO TABELA DE ALUNOS -->
          <ion-row>
            <ion-col size="12">
              <ng-container *ngIf="listaAlunosTabela.length > 0">
                <ng-container *ngFor="let aluno of listaAlunosTabela">
                  <ion-item
                    class="c-item c-item-round"
                    lines="none"
                    [detail]="isModoDetalhes()"
                    [button]="isModoDetalhes()"
                    (click)="navegarTelaAluno(aluno.aluno_id)">
                    <ion-label>
                      <ion-row class="ion-align-items-center">
                        <ion-col class="ion-align-items-center" size="9" sizeLg="11" sizeMd="11">
                          <ion-row>
                            <ion-text class="c-item-titulo ion-text-wrap">{{aluno.nome}}</ion-text>
                          </ion-row>
                          <ion-row *ngIf="aluno.turma !== null">
                            <ion-text class="c-item-subtitulo ion-text-wrap">Turma: {{aluno.turma.nome}}</ion-text>
                          </ion-row>
                        </ion-col>
                        <ion-col size="3" sizeLg="1" sizeMd="1" style="text-align: -webkit-right">
                          <ion-fab-button
                            *ngIf="!isModoDetalhes()"
                            class="e-fab"
                            size="medium"
                            (click)="deletarAluno(aluno.aluno_id)">
                            <ion-icon name="trash"></ion-icon>
                          </ion-fab-button>
                        </ion-col>
                      </ion-row>
                    </ion-label>
                  </ion-item>
                </ng-container>
              </ng-container>
            </ion-col>
          </ion-row>
          <!-- INICIO INSERCAO ALUNOS -->
          <ion-row>
            <ion-col size="12">
              <form [formGroup]="formBuscaAluno">
                <app-autocomplete
                  placeholder="Insira o nome do aluno"
                  formControlName="busca"
                  idBusca="busca-aluno"
                  [listaItens]="nomeAlunosBusca"
                  (onBusca)="adicionarAluno($event)"
                  textoSemResultado="Cadastrar novo aluno"
                  icone="add"
                  (onCliqueIcone)="navegarTelaAluno(-1)"></app-autocomplete>
              </form>
            </ion-col>
          </ion-row>
          <!-- FIM INSERCAO ALUNOS -->
          <!-- FIM TABELA DE ALUNOS -->
        </ion-row>
        <!-- FIM SOBRE ALUNO -->
        <ion-row class="ion-margin-vertical">
          <ion-row>
            <ion-col size="12">
              <h3 class="u-font-weight--bold">Informações Usuário:</h3>
            </ion-col>
          </ion-row>
          <ion-row size="12">
            <ion-col size="12" size-md="6" size-lg="6">
              <app-field-input formControlName="cpf" label="CPF"></app-field-input>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="6">
              <app-field-password placeholder=" " formControlName="senha" label="Senha"></app-field-password>
            </ion-col>
          </ion-row>
        </ion-row>
      </form>
    </div>
    <!-- BOTOES DE CONTROLE -->
    <div class="u-padding-bottom--md">
      <ng-container id="botoesEditar" *ngIf="!isModoDetalhes()">
        <app-botoes-controle
          modoBotoes="salvar"
          (onSalvar)="salvar()"
          (onCancelar)="cancelar()"></app-botoes-controle>
      </ng-container>
      <ng-container *ngIf="isModoDetalhes()">
        <app-botoes-controle
          (onEditar)="iniciarEdicao()"
          (onDeletar)="deletarAction()"
          header="Deseja deletar {{responsavel.usuario.nome}}?"></app-botoes-controle>
      </ng-container>
    </div>
  </div>
</ion-content>
