<app-header titulo="Canal" [botaoRetorno]="true"></app-header>

<ion-content class="ion-padding">
  <app-refresher (onRecarregar)="recarregarPagina()"></app-refresher>
  <ion-searchbar
    class="custom ion-no-padding"
    placeholder="Canal"
    [debounce]="500"
    (ionInput)="filtrarCanalNome($event)"></ion-searchbar>
  <div *ngFor="let canal of listaCanais">
    <ion-item class="c-item" lines="none" detail="true" button="true" (click)="navegarTelaCanal(canal)">
      <ion-label>
        <ion-row>
          <ion-text class="c-item-titulo">{{canal.nome}}</ion-text>
        </ion-row>
      </ion-label>
    </ion-item>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="navegarTelaCanal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
